<div class="card text-center">
    <div class="card-header">
      Student Details
    </div>
    <div class="card-body">
      <h5 class="card-title">{{student.name}}</h5>
      <p class="card-text">{{student.fname}}</p>
      <p class="card-text">{{student.mname}}</p>
      <p class="card-text">{{student.phone}}</p>
      <p class="card-text">{{student.address}}</p>
      <p class="card-text">{{student.sclass}}</p>
      <a routerLink="/studentlist" class="btn btn-primary">Go to studentlist</a>
    </div>
    <div class="card-footer text-muted">
      
    </div>
  </div>
