

  <!-- Login Form -->
  <div class="container">
    <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form [formGroup]="sampleform" (ngSubmit)="handleFormData()">
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="email" placeholder="Email" required name="email" formControlName="email">
            <span style="color: red;" *ngIf="sampleform.get('email')?.invalid && sampleform.get('email')?.touched">Email is Invalid</span>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" required name="password" formControlName="password">
            <span style="color: red;" *ngIf="sampleform.get('password')?.invalid && sampleform.get('password')?.touched">Password is invalid</span> 
          </div>
          <div class="pass"><a href="#">Forgot password?</a></div>
          <div class="row button">
            <input type="submit" value="Login">
          </div>
          <div class="signup-link">Don't have an Account? <a routerLink="/signup">Signup now</a></div>
        </form>
    </div>
</div>